*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: inherit;
  font-size: 1.6rem;
}

.App {
  background-image: linear-gradient(
      to right bottom,
      rgba(69, 66, 243, 0.911),
      rgba(69, 66, 243, 0.911)
    ),
    url(./assets/images/background.webp);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-attachment: fixed;
}

.App__container {
  padding: 3rem;
}
@media only screen and (max-width: 450px) {
  .App__container {
    padding: 1rem;
  }
}

.head {
  display: flex;
  flex-direction: column;
}

.head__primary {
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Caveat', cursive;
  color: var(--color-blue);
}

.head__para {
  font-size: 1.4rem;
  color: var(--color-gray-dark);
}

@media only screen and (max-width: 450px) {
  .head__primary {
    font-size: 4rem;
  }
}
