body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Caveat', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-gray: lightgray;
  --color-gray-dark: rgb(155, 148, 148);
  --color-blue: #11326e;
  --color-gray-light: #eeeeee7d;
}
